

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "medium" color = "#fff" type = "ball-beat" ></ngx-spinner>


<div id="prest-container">
  <div>
    <button style="float: left;" class="btn btn-info but" (click)="runGraph($event)" >Run</button> 
    <button style="float: right;" class="btn btn-info but" (click)="showPreview($event)" >Preview</button>
    
  </div>

  <div id="myDiagramDiv"></div>
      
    <!-- <button id="SaveButton" (click)="save()">Save</button>
    <button onclick="load()">Load</button>
    <button onclick="layout()">Layout</button>
    Diagram Model saved in JSON format:
    <br />
    <textarea id="mySavedModel" style="width:100%;height:300px">{{myArray}}</textarea> -->

</div>